{% extends "templates/web.html" %}
{%- block content -%}
<div class="row">
    <div class="col-xs-12">
        <table border="1px solid" width="100%">
            <tr>
                <td style ="background-color:#a4a8a8;font-size:6px;width:17%;" colspan=1><b><center>EMP ID</center></b></td>
                <td style ="background-color:#a4a8a8;font-size:6px;"colspan=1><b><center>{{emp}}</center></b></td>
                <td style ="background-color:#a4a8a8;font-size:6px;" colspan="1"><b><center>EMP Name</center></b></td>
                <td style ="background-color:#a4a8a8;font-size:6px;"colspan=1><b><center>{{emp_name}}</center></b></td>
                <td style ="background-color:#a4a8a8;font-size:6px;" colspan="1"><b><center>DEPT</center></b></td>
                <td style ="background-color:#a4a8a8;font-size:6px;"colspan=4><b><center>{{emp_dept}}</center></b></td>
            </tr>
            <tr>
                <td style ="background-color:#a4a8a8;font-size:6px;width:17%;" colspan="1"><b><center>Date</center></b></td>
                <td style ="background-color:#a6a8a8;font-size:6px;" colspan="1"><b><center>In Time</center></b></td>
                <td style ="background-color:#a6a8a8;font-size:6px;" colspan="1"><b><center>Out Time</center></b></td>
                <td style ="background-color:#a6a8a8;font-size:6px;" colspan="1"><b><center>Status</center></b></td>
                <td style ="background-color:#a6a8a8;font-size:6px;" colspan="4"><b><center>Applications</center></b></td>
            </tr>
            {%for date in att_list %} 
            <tr>
                <td style ="font-size:6px;width:19%;" colspan="1"><center>{{date.attendance_date}}</center></td>
                <td style ="font-size:6px;" colspan="1"><center>{{date.attendance_date}}</center></td>
                <td style ="font-size:6px;" colspan="1"><center>{{date.attendance_date}}</center></td>
                <td style ="font-size:6px;" colspan="1"><center>{{date.attendance_date}}</center></td>
                <td style ="font-size:6px;" colspan="4"><center>{{date.attendance_date}}</center></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
